# Задание 1

In [8]:
import sqlite3

conn = sqlite3.connect('tysql.sqlite', uri=True)
curs = conn.cursor()

curs.execute("""select name
from sqlite_master""")
for i in curs.fetchall():
    print(i)

('Customers',)
('sqlite_autoindex_Customers_1',)
('OrderItems',)
('sqlite_autoindex_OrderItems_1',)
('Orders',)
('sqlite_autoindex_Orders_1',)
('Products',)
('sqlite_autoindex_Products_1',)
('Vendors',)
('sqlite_autoindex_Vendors_1',)

In [9]:
curs.execute("""select cust_id
from customers""")
for i in curs.fetchall():
    print(i)

('1000000001',)
('1000000002',)
('1000000003',)
('1000000004',)
('1000000005',)

In [10]:
curs.execute("""select *
from customers""")
for i in curs.fetchall():
    print(i)

('1000000001', 'Village Toys', '200 Maple Lane', 'Detroit', 'MI', '44444', 'USA', 'John Smith', 'sales@villagetoys.com')
('1000000002', 'Kids Place', '333 South Lake Drive', 'Columbus', 'OH', '43333', 'USA', 'Michelle Green', None)
('1000000003', 'Fun4All', '1 Sunny Place', 'Muncie', 'IN', '42222', 'USA', 'Jim Jones', 'jjones@fun4all.com')
('1000000004', 'Fun4All', '829 Riverside Drive', 'Phoenix', 'AZ', '88888', 'USA', 'Denise L. Stephens', 'dstephens@fun4all.com')
('1000000005', 'The Toy Store', '4545 53rd Street', 'Chicago', 'IL', '54545', 'USA', 'Kim Howard', None)

In [12]:
curs.execute("""select cust_name
from customers
order by cust_name desc""")
for i in curs.fetchall():
    print(i)

('Village Toys',)
('The Toy Store',)
('Kids Place',)
('Fun4All',)
('Fun4All',)

In [13]:
curs.execute("""select cust_id, order_num
from orders
order by cust_id, order_date""")
for i in curs.fetchall():
    print(i)

('1000000001', 20009)
('1000000001', 20005)
('1000000003', 20006)
('1000000004', 20007)
('1000000005', 20008)

In [16]:
curs.execute("""select quantity, item_price, quantity * item_price sum
from orderitems
order by quantity desc, item_price desc""")
for i in curs.fetchall():
    print(i)

(250, 2.49, 622.5)
(250, 2.49, 622.5)
(250, 2.49, 622.5)
(100, 10.99, 1099.0)
(100, 5.49, 549.0)
(100, 2.99, 299.0)
(100, 2.99, 299.0)
(100, 2.99, 299.0)
(50, 11.49, 574.5)
(50, 4.49, 224.5)
(20, 5.99, 119.80000000000001)
(10, 11.99, 119.9)
(10, 8.99, 89.9)
(10, 3.49, 34.900000000000006)
(10, 3.49, 34.900000000000006)
(10, 3.49, 34.900000000000006)
(5, 11.99, 59.95)
(5, 4.99, 24.950000000000003)

In [17]:
curs.execute("""select prod_name
from products
where prod_price = 9.49""")
for i in curs.fetchall():
    print(i)

('King doll',)
('Queen doll',)

In [18]:
curs.execute("""select prod_name, prod_price
from products
where prod_price between 3 and 6
order by prod_price""")
for i in curs.fetchall():
    print(i)

('Fish bean bag toy', 3.49)
('Bird bean bag toy', 3.49)
('Rabbit bean bag toy', 3.49)
('Raggedy Ann', 4.99)
('8 inch teddy bear', 5.99)

# Задание 2

In [19]:
curs.execute("""select prod_id, sum(quantity)
from orderitems
group by prod_id""")
for i in curs.fetchall():
    print(i)

('BNBG01', 360)
('BNBG02', 360)
('BNBG03', 360)
('BR01', 120)
('BR02', 10)
('BR03', 165)
('RGAN01', 55)

In [29]:
curs.execute("""select count(prod_name)
from products
where prod_price > 4""")
for i in curs.fetchall():
    print(*i)

6

In [22]:
curs.execute("""select *
from products
order by prod_price desc
limit 3""")
for i in curs.fetchall():
    print(*i)

BR03 BRS01 18 inch teddy bear 11.99 18 inch teddy bear, comes with cap and jacket
RYL01 FNG01 King doll 9.49 12 inch king doll with royal garments and crown
RYL02 FNG01 Queen doll 9.49 12 inch queen doll with royal garments and crown

In [24]:
# 1 способ
curs.execute("""select cust_id, count(*)
from orders
group by cust_id""")
for i in curs.fetchall():
    print(*i)

1000000001 2
1000000003 1
1000000004 1
1000000005 1

In [34]:
# 2 способ
curs.execute("""select cust_id, (select count(order_num) from orders b where b.cust_id = a.cust_id)
from orders a
group by cust_id""")
for i in curs.fetchall():
    print(*i)

1000000001 2
1000000003 1
1000000004 1
1000000005 1

In [38]:
curs.execute("""select b.cust_name, a.order_num
from orders a
join
customers b
on a.cust_id = b.cust_id""")
for i in curs.fetchall():
    print(*i)

Village Toys 20005
Fun4All 20006
Fun4All 20007
The Toy Store 20008
Village Toys 20009

In [39]:
curs.execute("""select prod_name
from products
where prod_price < 5
union
select prod_name
from products
where prod_price >= 5""")
for i in curs.fetchall():
    print(*i)

12 inch teddy bear
18 inch teddy bear
8 inch teddy bear
Bird bean bag toy
Fish bean bag toy
King doll
Queen doll
Rabbit bean bag toy
Raggedy Ann